---
export const partial = true;
import Form from "../../../components/Form.astro";

---
<div class="text-center mb-10">
    <h2 class="text-3xl mb-3 font-bold">Estemos en contacto</h2>
    <h4 class="italic font-light text-gray-400">Llena el form con tus datos y charlemos</h4>
</div>


<Form />
