---
export const partial = true;
import SectionInfo from "../../../components/SectionInfo.astro";
import Separator from "../../../components/Separator.astro";
import WelcomeTechStack from "../../../components/WelcomeTechStack.astro";
---
<div>
    <SectionInfo 
        banner="https://res.cloudinary.com/dwczjy8e4/image/upload/v1742756065/portfolio/esvdev_LinkedIn_Banner_2025_mcxrvi.png"
        alt="Banner con fondo azul e íconos de tecnologías y herramientas"
        title="👋​ ¡Hola! Soy Elias"
    />

    <p class="mb-3">¡Buenas! Si estás acá es porque probablemente querés saber quien soy, lo que ya te vuelve una persona interesante. Me presento 👇</p>
        
    <p class="mb-3">Soy Elias Velazquez, un Data Engineer (entre otras cosas) con base en Buenos Aires, Argentina. Me paso los días construyendo pipelines (por eso me encanta decir que el Data Engineer es como un plomero), escribiendo código en Python, deployando cosas en AWS y hablando con APIs como si fueran parte del equipo.</p>

    <p class="mb-3">Cuento con una sólida formación en algoritmos, estructuras de datos y resolución de problemas usando la lógica (y una taza de café) siempre con un enfoque en generar resultados tangibles. Tengo un gran aprecio por la terminal —es prácticamente mi zona de confort—. A menudo me vas a encontrar <span class="line-through">peleándome</span> trabajando con Pandas, construyendo pipelines ETL, o deployando cosas en la nube con Lambda, API Gateway y DynamoDB. Incluso construí una infraestructura de Snowflake usando Python y AWS, enfrentando desafíos de seguridad y plazos ajustados. 💪</p>

    <p class="mb-3">Desde febrero de 2024, trabajo en Vordentech, una startup con clientes a nivel global, con quienes me comunico efectivamente tanto de manera escrita como oral gracias a mi nivel C1 en inglés, lo que me permite comprender sus necesidades y entregar soluciones que realmente funcionan. Esta experiencia me enseñó que la comunicación clara es tan importante como el código limpio.</p>

    <p class="mb-3">Creo que la colaboración lo es todo. Ya sea revisando pull requests, pidiendo ayuda u organizando eventos en mi comunidad tech en WhatsApp (llamada "ShareIT"), me siento a gusto cuando estoy aprendiendo y construyendo con otros. (Un dato curioso: esa comunidad ha ayudado a gente a encontrar trabajo, lanzar proyectos y crecer en tecnología. Es una de las cosas que más me enorgullece.)</p>

    <p class="mb-3">Fuera del trabajo, escribo artículos técnicos en <a href="https://esvdev.me">esvdev.me</a>, donde hablo de tópicos simples y complejos en una manera que espero sea útil y no aburrida. A veces incluso hago reír a la gente hablando de pipelines —nada como un buen meme para comprender un tema.</p>

    <p class="mb-3">¡Gracias por leer! Si querés construir algo genial juntos, o simplemente saludarme, ¡escribime!.</p>

    <Separator />

    <WelcomeTechStack 
        title1="Lenguajes, frameworks y herramientas"
        title2="Actualmente estoy aprendiendo"
        title3="Otras herramientas"
    />
    
    
</div>