---
export const partial = true;
import SectionInfo from "../../../components/SectionInfo.astro";
import Separator from "../../../components/Separator.astro";
import WelcomeTechStack from "../../../components/WelcomeTechStack.astro";
---
<div>
    <SectionInfo 
        banner="https://res.cloudinary.com/dwczjy8e4/image/upload/v1695074516/portfolio/Portada_LinkedIn_2023_h6zpwi.png"
        alt="Banner con fondo azul e íconos de tecnologías y herramientas"
        title="👋​ ¡Hola! Soy Elias"
    />

    <p class="mb-3">Programador Python con una sólida base en algoritmos, estructuras de datos y resolución lógica de problemas, centrado en ofrecer resultados tangibles. Mis habilidades se extienden a tareas relacionadas con el backend y los datos, lo que me permite contribuir de manera efectiva en distintos proyectos.</p>

    <p class="mb-3">Me destaco por priorizar un código limpio y bien organizado, adhiriéndome a las convenciones de commit de Git, principios como SOLID, KISS y DRY entre otros. Documentar meticulosamente tanto mi código como mi flujo de trabajo se ha convertido en una práctica estándar para mí, siendo parte de mi ética de trabajo.</p>

    <p class="mb-3">Me gusta prestar atención a los detalles, sabiendo que comprender correctamente los requisitos del cliente garantiza que proporcione una solución sólida a sus necesidades a través del código. Soy altamente proactivo en la comunicación en equipo, siempre informando a mis colegas sobre en qué estoy trabajando o dónde enfrento desafíos en el desarrollo de una característica particular. Sé cuándo resolver las cosas por mi cuenta y cuándo pedir ayuda.</p>

    <p class="mb-3">Gracias a mi gestión del tiempo y resolución de problemas, he logrado mantener el profesionalismo al trabajar bajo presión y con fechas límite en el horizonte.</p>

    <p class="mb-3">Impulsado por un deseo continuo de expandir mis habilidades y adaptarme a desafíos en evolución, desato mi potencial cuando aprendo lo necesario para resolver problemas y necesidades del momento.</p>

     <p class="mb-3">Combinado con mi nivel C1 en inglés y mi adaptabilidad, siempre tengo ganas de trabajar con personas de diferentes países y culturas, con distintos trasfondos y experiencias.</p>

    <Separator />

    <WelcomeTechStack 
        title1="Lenguajes, frameworks y herramientas"
        title2="Actualmente estoy aprendiendo"
        title3="Lo que sigue en mi ruta de aprendizaje"
        title4="Otras herramientas"
    />
    
    
</div>