---
export const partial = true;
import SectionInfo from "../../../components/SectionInfo.astro";
import Separator from "../../../components/Separator.astro";
import WelcomeTechStack from "../../../components/WelcomeTechStack.astro";
---
<div>
    <SectionInfo 
        banner="https://res.cloudinary.com/dwczjy8e4/image/upload/v1742756065/portfolio/esvdev_LinkedIn_Banner_2025_mcxrvi.png"
        alt="Banner con fondo azul e íconos de tecnologías y herramientas"
        title="👋​ ¡Hola! Soy Elias"
    />

    <p class="mb-3">Soy Elias Velazquez, un <span>Junior Data Engineer (entre otras cosas) con base en Buenos Aires, Argentina</span>. Cuento con una sólida formación en algoritmos, estructuras de datos y resolución lógica de problemas, siempre con un enfoque en generar resultados tangibles.</p>

    <p class="mb-3">Tengo un gran aprecio por la terminal —es prácticamente mi zona de confort— por lo que a menudo me encontrarás trabajando en mi confiable máquina con Linux. <span class="font-bold text-stone-400">Soy competente en Python, SQL, Pandas y Git</span>, y disfruto explorando el ecosistema de AWS. <span class="font-bold text-stone-400">Servicios como Lambda, EC2, ECR y API Gateway</span> son las herramientas que suelo utilizar para construir soluciones en la nube. De hecho, actualmente estoy preparándome para obtener la certificación de <span class="font-bold text-stone-400">AWS Solutions Architect</span>🙌.</p>

    <p class="mb-3">Me enfoco en los detalles, especialmente cuando se trata de comprender los requerimientos del cliente. <span class="font-bold text-stone-400">Creo que una comunicación clara y una correcta alineación de expectativas son fundamentales</span> para ofrecer soluciones efectivas a través del código. También valoro la colaboración en equipo, manteniendo informados a mis colegas sobre mi progreso y buscando apoyo cuando es necesario. Para mí, el equilibrio es clave: resolver problemas de manera autónoma, pero sabiendo cuándo pedir ayuda.</p>

    <p class="mb-3">Disfruto conocer nuevas personas y trabajar en conjunto para crear algo significativo. Desde febrero de 2024, formo parte de una startup con clientes a nivel global, con quienes me comunico efectivamente tanto de manera escrita como oral <span class="font-bold text-stone-400">gracias a mi nivel C1 en inglés</span>.</p>

    <p class="mb-3">Mis habilidades de gestión del tiempo y resolución de problemas me han permitido mantener un alto nivel de profesionalismo, incluso en entornos de alta presión y con plazos ajustados.</p>

    <p class="mb-3"><span class="font-bold text-stone-400">Mi mayor motivación es el aprendizaje continuo y la capacidad de adaptarme a nuevos desafíos</span>. Encuentro mi mayor potencial cuando adquiero los conocimientos necesarios para resolver problemas y aportar valor según las necesidades del momento.</p>

    <Separator />

    <WelcomeTechStack 
        title1="Lenguajes, frameworks y herramientas"
        title2="Actualmente estoy aprendiendo"
        title3="Otras herramientas"
    />
    
    
</div>