---
export const partial = true;
import SectionInfo from "../../components/SectionInfo.astro";

---
<div>
    <SectionInfo 
        banner="https://res.cloudinary.com/dwczjy8e4/image/upload/v1695177301/portfolio/Projects_a9z7tr.png"
        alt="Imagen con una mano tecleando en una computadora portátil"
        subtitle="EXPERIENCIA PRÁCTICA APLICADA"
        title="Proyectos"
    />
</div>