---
export const partial = true;

---
<div>
    <img class="img-fluid rounded mb-3" src="https://res.cloudinary.com/dwczjy8e4/image/upload/v1695177301/portfolio/Projects_a9z7tr.png" alt="Projects banner">
    <div class="text-center">
        <h4 class="font-bold text-base" style="color: #2a4f9d;">EXPERIENCIA PRACTICA APLICADA</h4>
        <h2 class="text-2xl">Proyectos</h2>
    </div>
</div>