---
export const partial = true;
import SectionInfo from "../../components/SectionInfo.astro";
import Separator from "../../components/Separator.astro";
import WelcomeTechStack from "../../components/WelcomeTechStack.astro";
---
<div>
    <SectionInfo 
        banner="https://res.cloudinary.com/dwczjy8e4/image/upload/v1742756065/portfolio/esvdev_LinkedIn_Banner_2025_mcxrvi.png"
        alt="Banner con fondo azul e íconos de tecnologías y herramientas"
        title="👋​ Hey there! I'm Elias"
    />

    <p class="mb-3">Hey there! If you’ve landed on this page, you’re probably curious about who I am — which makes you awesome by default. Let me introduce myself 👇</p>

    <p class="mb-3">I’m Elias, a Data Engineer (and a few other things) based in Buenos Aires, Argentina. I spend my days building data pipelines, wrangling Python code, deploying things on AWS, and talking to APIs like they’re part of the team.</p>

    <p class="mb-3">I have a solid foundation in algorithms, data structures, and solving problems with logic (and coffee). I love the terminal — seriously, Linux is my comfort zone. You’ll often find me deep in Pandas, crafting ETL workflows, or deploying serverless stuff with Lambda, API Gateway and crafting storage solutions leveraging RDS or DynamoDB. I’ve even built a Snowflake infrastructure using Python and AWS services, tackling security challenges and tight deadlines. 💪</p>

    <p class="mb-3">Since February 2024, I’ve been working at Vordentech, a startup with global clients. I communicate with them in English (yep, not my native language!) via voice and text to understand what they need and deliver solutions that actually work. It’s taught me that clear communication is just as important as clean code.</p>

    <p class="mb-3">I believe collaboration is everything. Whether I’m reviewing pull requests, asking for help, or organizing events in my WhatsApp tech community (called "ShareIT"), I thrive when I'm learning and building with others. (Fun fact: that community has helped people find jobs, launch projects, and grow in tech. It’s one of the things I’m most proud of.)</p>

    <p class="mb-3">Outside of work, I write technical blog posts at <a href="https://esvdev.me">esvdev.me</a>, where I break down complex stuff in a way that’s (hopefully) helpful and not boring. Sometimes I even make people laugh while talking about pipelines — which is peak career satisfaction.</p>

    <p class="mb-3">Thanks for reading! If you want to build something cool together, or just say hi, don’t be a stranger.</p>

    <Separator />

    <WelcomeTechStack 
        title1="Languages, frameworks and tools"
        title2="I'm currently learning"
        title3="Other tools"
    />
</div>