---
export const partial = true;
import SectionInfo from "../../components/SectionInfo.astro";
import Separator from "../../components/Separator.astro";
import Badge from "../../components/Badge.astro";
---
<div>
    <SectionInfo 
        banner="https://res.cloudinary.com/dwczjy8e4/image/upload/v1695074516/portfolio/Portada_LinkedIn_2023_h6zpwi.png"
        alt="Banner con fondo azul e íconos de tecnologías y herramientas"
        title="👋​ Hey there! I'm Elias"
    />

    <p class="mb-3">Backend web developer focused on results with a strong foundation in Python, the Django framework, and experience in teamwork.</p>

    <p class="mb-3">I stand out for following best practices, emphasizing organized and correct structures for my projects, writing clean and understandable code, and adhering to commit conventions in Git.</p>

    <p class="mb-3">I pay attention to details. I'm highly proactive in team communication, always informing my colleagues about what I'm working on or where I'm facing challenges in developing a particular feature. I know when to solve things on my own and when to ask for help.</p>

    <p class="mb-3">Thanks to my time management and problem-solving skills, I've been able to maintain professionalism while working under pressure and meeting deadlines.</p>

    <p class="mb-3">I unleash my potential when I learn what's necessary to solve problems and meet current needs.</p>

    <p class="mb-3">Combined with my C1 level in English and adaptability, I'm available to work with people from different countries and cultures. I thrive by interacting with individuals from diverse backgrounds and experiences.</p>

    <Separator />

    <div class="mb-3">
        <h4 class="font-bold text-2xl mb-5">Languages, frameworks & tools</h4>

        <!-- Python -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Python/python3.svg" alt="Placa con logo del lenguaje Python"/>

        <!-- Django  -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Django/django1.svg" alt="Placa con logo del framework Django"/>

        <!-- Django REST -->
        <Badge imageURL="https://img.shields.io/badge/DJANGO-REST-ff1709?style=for-the-badge&logo=django&logoColor=white&color=ff1709&labelColor=gray" alt="Placa con logo del framework Django REST"/>
        
        <!-- PostgreSQL -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/PostgreSQL/postgresql1.svg" alt="Placa con logo de la base de datos PostgreSQL"/>

        <!-- SQLite -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/SQLite/sqlite1.svg" alt="Placa con logo de la base de datos PostgreSQL"/>

        <!-- Postman -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Postman/postman1.svg" alt="Placa con logo de Postman"/>

        <!-- Astro -->
        
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Astro/astro2.svg" alt="Placa con logo del framework Astro"/>
        <!-- Bootstrap -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Bootstrap/bootstrap1.svg" alt="Placa con logo del framework Bootstrap"/>

        <!-- Tailwind -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/TailwindCSS/tailwindcss1.svg" alt="Placa con logo del framework Tailwind CSS"/>


        
    </div>

    <div class="mb-6">
        <h4 class="font-bold text-2xl mb-5">I'm currently learning</h4>

        <!-- FastAPI -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/FastAPI/fastapi1.svg" alt="Placa con logo del framework FastAPI" alt="Placa con logo del framework FastAPI"/>

        <!-- Nginx -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/NGINX/nginx1.svg" alt="Placa con logo de Nginx" alt="Placa con logo del framework FastAPI"/>


    </div>

    <div class="mb-6">
        <h4 class="font-bold text-2xl mb-5">What's next on my learning path</h4>

        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Docker/docker1.svg" alt="Placa con logo de la herramienta Docker"/>
        
    </div>

    <div class="mb-6">
        <h4 class="font-bold text-2xl mb-5">Other tools</h4>

        <!-- GIT -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Git/git1.svg" alt="Placa con logo de la herramienta GIT"/>
        
        <!-- Linux  -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Linux/linux2.svg" alt="Placa con logo del sistema operativo Linux"/>
        
        <!-- Shell  -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Shell/shell1.svg" alt="Placa con logo de Shell"/>
        
        <!-- Netlify  -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Netlify/netlify1.svg" alt="Placa con logo de Netlify"/>

        <!-- Visual Studio Code -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/VisualStudioCode/visualstudiocode1.svg" alt="Placa con logo del editor de código Visual Studio Code"/>

        <!-- Trello -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Trello/trello1.svg" alt="Placa con logo de la herramienta Trello"/>

        <!-- Notion -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Notion/notion1.svg" alt="Placa con logo de la herramienta Notion"/>
    </div>
    
</div>