---
export const partial = true;
import SectionInfo from "../../components/SectionInfo.astro";
import Separator from "../../components/Separator.astro";
import Badge from "../../components/Badge.astro";
---
<div>
    <SectionInfo 
        banner="https://res.cloudinary.com/dwczjy8e4/image/upload/v1695074516/portfolio/Portada_LinkedIn_2023_h6zpwi.png"
        alt="Banner con fondo azul e íconos de tecnologías y herramientas"
        title="👋​ ¡Hola! Soy Elias"
    />

    <p class="mb-3">Programador web backend orientado a resultados con una base sólida en Python, el framework Django y experiencia en trabajo en equipo.</p>

    <p class="mb-3">Me destaco por seguir buenas prácticas, haciendo hincapié en seguir estructuras organizadas y correctas para mis proyectos, escribir código limpio y entendible y seguir las convenciones para los commits en Git.</p>

    <p class="mb-3">Me gusta prestar atención a los detalles. Soy muy proactivo al momento de comunicarme en equipo, siempre comentándoles a mis compañeros en qué estoy trabajando o dónde me estoy trabando en el desarrollo de alguna característica. Sé reconocer cuándo tengo que resolver cosas por mi cuenta y cuándo solicitar ayuda.</p>

    <p class="mb-3">Gracias a mi gestión del tiempo y resolución de problemas, he logrado mantener el profesionalismo al trabajar bajo presión y con fechas límite en el horizonte.</p>

    <p class="mb-3">Exploto mi potencial cuando aprendo lo que haga falta para resolver los problemas y necesidades del momento.</p>

    <p class="mb-3">Combinado con mi nivel C1 en inglés y mi adaptabilidad, me encuentro disponible para trabajar con personas de diferentes países y culturas. Me nutro al interactuar con personas con distintos trasfondos y experiencias.</p>

    <Separator />

    <div class="mb-3">
        <h4 class="font-bold text-2xl mb-5">Lenguajes, frameworks y herramientas</h4>

        <!-- Python -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Python/python3.svg" alt="Placa con logo del lenguaje Python"/>

        <!-- Django  -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Django/django1.svg" alt="Placa con logo del framework Django"/>

        <!-- Django REST -->
        <Badge imageURL="https://img.shields.io/badge/DJANGO-REST-ff1709?style=for-the-badge&logo=django&logoColor=white&color=ff1709&labelColor=gray" alt="Placa con logo del framework Django REST"/>
        
        <!-- PostgreSQL -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/PostgreSQL/postgresql1.svg" alt="Placa con logo de la base de datos PostgreSQL"/>

        <!-- SQLite -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/SQLite/sqlite1.svg" alt="Placa con logo de la base de datos PostgreSQL"/>

        <!-- Postman -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Postman/postman1.svg" alt="Placa con logo de Postman"/>

        <!-- Astro -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Astro/astro2.svg" alt="Placa con logo del framework Astro"/>
        
        <!-- Bootstrap -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Bootstrap/bootstrap1.svg" alt="Placa con logo del framework Bootstrap"/>

        <!-- Tailwind -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/TailwindCSS/tailwindcss1.svg" alt="Placa con logo del framework Tailwind CSS"/>


        
    </div>

    <div class="mb-6">
        <h4 class="font-bold text-2xl mb-5">Actualmente estoy aprendiendo</h4>

        <!-- FastAPI -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/FastAPI/fastapi1.svg" alt="Placa con logo del framework FastAPI" alt="Placa con logo del framework FastAPI"/>

        <!-- Nginx -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/NGINX/nginx1.svg" alt="Placa con logo de Nginx" alt="Placa con logo del framework FastAPI"/>


    </div>

    <div class="mb-6">
        <h4 class="font-bold text-2xl mb-5">Lo que sigue en mi ruta de aprendizaje</h4>

        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Docker/docker1.svg" alt="Placa con logo de la herramienta Docker"/>
        
    </div>

    <div class="mb-6">
        <h4 class="font-bold text-2xl mb-5">Otras herramientas</h4>

        <!-- GIT -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Git/git1.svg" alt="Placa con logo de la herramienta GIT"/>
        
        <!-- Linux  -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Linux/linux2.svg" alt="Placa con logo del sistema operativo Linux"/>
        
        <!-- Shell  -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Shell/shell1.svg" alt="Placa con logo de Shell"/>
        
        <!-- Netlify  -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Netlify/netlify1.svg" alt="Placa con logo de Netlify"/>

        <!-- Visual Studio Code -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/VisualStudioCode/visualstudiocode1.svg" alt="Placa con logo del editor de código Visual Studio Code"/>

        <!-- Trello -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Trello/trello1.svg" alt="Placa con logo de la herramienta Trello"/>

        <!-- Notion -->
        <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Notion/notion1.svg" alt="Placa con logo de la herramienta Notion"/>
    </div>
    
</div>