---
export const partial = true;
import SectionInfo from "../../components/SectionInfo.astro";
import Separator from "../../components/Separator.astro";
import WelcomeTechStack from "../../components/WelcomeTechStack.astro";
---
<div>
    <SectionInfo 
        banner="https://res.cloudinary.com/dwczjy8e4/image/upload/v1742756065/portfolio/esvdev_LinkedIn_Banner_2025_mcxrvi.png"
        alt="Banner con fondo azul e íconos de tecnologías y herramientas"
        title="👋​ Hey there! I'm Elias"
    />

    <p class="mb-3">Hello there! If you're reading this, you must be a cool person curious about who I am, right? Let me introduce myself! I'm a Junior Data Engineer (among other things) based in <span>Buenos Aires, Argentina</span>, with a solid foundation in algorithms, data structures, and logical problem-solving, all focused on delivering tangible results.</p>
    
    <p class="mb-3">I have a deep appreciation for the terminal—it’s like my happy place—so you’ll often find me working away on my trusty Linux machine. I’m proficient in <span class="font-bold, text-stone-400">Python, SQL, Pandas, and Git</span>, and I love diving into the AWS ecosystem. Services like <span class="font-bold, text-stone-400">Lambda, EC2, ECR, and API Gateway</span> are my playground for building solutions and solving problems. In fact, I'm currently pursuing studies to qualify as an <span class="font-bold, text-stone-400">AWS Solutions Architect</span> 🙌.</p>

    <p class="mb-3">Details matter to me, especially when it comes to understanding client requirements. <span class="font-bold, text-stone-400">Clear communication and aligning expectations are key to delivering the right solution through code</span>. I also value team collaboration, keeping my colleagues informed about my progress and seeking help when needed. I believe in striking a balance: solving problems independently but knowing when to reach out.</p>

    <p class="mb-3">I enjoy meeting new people and working together to create something great. As of February 2024, I’m working at a startup with global clients, <span class="font-bold, text-stone-400">communicating with them in English across both written and spoken channels</span>.</p>

    <p class="mb-3">Thanks to my time management and problem-solving skills, I've been able to maintain professionalism while working under pressure and meeting deadlines.</p>

    <p class="mb-3"><span class="font-bold, text-stone-400">I am driven by a continuous desire to expand my skills and adapt to evolving challenges</span>. I unleash my potential when I learn what's necessary to solve problems and meet current needs.</p>

    <Separator />

    <WelcomeTechStack 
        title1="Languages, frameworks and tools"
        title2="I'm currently learning"
        title3="Other tools"
    />
</div>