---
export const partial = true;
import SectionInfo from "../../components/SectionInfo.astro";
import Separator from "../../components/Separator.astro";
import WelcomeTechStack from "../../components/WelcomeTechStack.astro";
---
<div>
    <SectionInfo 
        banner="https://res.cloudinary.com/dwczjy8e4/image/upload/v1714486044/portfolio/esvdev_LinkedIn_Banner_2024_v2_kgpyia.png"
        alt="Banner con fondo azul e íconos de tecnologías y herramientas"
        title="👋​ Hey there! I'm Elias"
    />

    <p class="mb-3">Python developer with a solid foundation in algorithms, data structures and logical problem-solving focused in delivering tangible results. My skills extend to backend and data-related tasks, further enhancing my ability to contribute effectively to projects.
    </p>

    <p class="mb-3">My commitment to best practices ensures that I prioritize clean, well-organized code, adhering to Git commit conventions and SOLID, DRY, KISS principles among others. Meticulously documenting both my code and workflow has become a standard practice for me, being a part of my work ethic.</p>

    <p class="mb-3">I pay attention to details, knowing that understanding client's requirements correctly ensures I provide a solid solution through code. I'm highly proactive in team communication, always informing my colleagues about what I'm working on or where I'm facing challenges in developing a particular feature. I know when to solve things on my own and when to ask for help.</p>

    <p class="mb-3">Thanks to my time management and problem-solving skills, I've been able to maintain professionalism while working under pressure and meeting deadlines.</p>

    <p class="mb-3"> I am driven by a continuous desire to expand my skills and adapt to evolving challenges. I unleash my potential when I learn what's necessary to solve problems and meet current needs.</p>

    <p class="mb-3">Combined with my C1 level in English and adaptability, I'm always eager to work with people from different countries and cultures. I thrive by interacting with individuals from diverse backgrounds and experiences.</p>

    <Separator />

    <WelcomeTechStack 
        title1="Languages, frameworks and tools"
        title2="I'm currently learning"
        title3="What's next on my learning path"
        title4="Other tools"
    />
</div>