---
import Social from "../components/Social.astro";
import LanguageSelector from "./LanguageSelector.astro";
const url = Astro.url.pathname;
---

<aside class="md:col-span-3 col-span-12 mb-5">        
    <div class="mb-5 md:w-full w-10/12 mx-auto">
        <div class="mb-3">
            <img class="rounded-full border-4 mb-3 block mx-auto" src="https://res.cloudinary.com/dwczjy8e4/image/upload/v1695074470/elias_pic_sep23_gnz0c3.png" width="300px" alt="Elias Velazquez's photo">
            <div>
                <h2 class="text-3xl">Elias Velazquez</h2>
                <p class="font-light mb-2">Backend web developer</p>
            </div>
        </div>
        
        <a href={
            url.includes('es') ? 
                'https://res.cloudinary.com/dwczjy8e4/image/upload/v1714084462/resume/Elias_Velazquez_-_Python_Dev_-_2024_ES_okpsww.pdf' 
                : 
                'https://res.cloudinary.com/dwczjy8e4/image/upload/v1714084462/resume/Elias_Velazquez_-_Python_Dev_-_2024_EN_lrstnb.pdf'
        } 
        download target="_blank">
            <button class="border-2 border-[#758292] rounded-lg p-2 mb-3 w-full bg-zinc-700 hover:bg-zinc-600">
                {url.includes('es') ? 'Descargar CV' : 'Download resume'}
            </button>
        </a>

        <div class="flex flex-col">
            <div>
                <i class="fa-solid fa-location-dot me-2" ></i>
                <span>Buenos Aires, Argentina</span>
            </div>
            
            <Social platform="github" username="eliasvelazquezdev" text="eliasvelazquezdev" iconClasses="fa-brands fa-github me-2 text-lg"/>
            <Social platform="linkedin" username="eliassvelazquez"  text="in/eliassvelazquez" iconClasses="fa-brands fa-linkedin me-2 text-lg"/>
            <Social platform="x" username="esvdev" text="@esvdev" iconClasses="fa-brands fa-x-twitter me-2 text-lg"/>
            <a class="text-slate-300" href="https://www.esvdev.me" target="_blank"><i class="fa-solid fa-blog me-2"></i>Blog</a>
        </div>
    </div>
    
    <hr>
    
</aside>