---
import Social from "../components/Social.astro";
import Modal from "../components/Modal.astro";
import LanguageSelector from "./LanguageSelector.astro";
const url = Astro.url.pathname;
---

<aside class="md:col-span-3 col-span-12 mb-5">        
    <div class="mb-5 md:w-full w-10/12 mx-auto">
        <div class="my-3">
            <img class="rounded-full border-4 mb-3 block mx-auto" src="https://res.cloudinary.com/dwczjy8e4/image/upload/v1715726681/esvdev_pic_2024_v1_lsissn.png" width="300px" alt="Elias Velazquez's photo">
            <div>
                <h2 class="text-3xl">Elias Velazquez</h2>
                <p class="font-light mb-2">🐍 Backend / ETL developer</p>
                <p class="font-light mb-2">⚙ Data Engineer in progress...</p>
            </div>
        </div>
        

        <a href={
            url.includes('es') ? 
                "/elias_velazquez_curriculum.pdf" 
                : 
                "/elias_velazquez_resume.pdf"
        } 
        download target="_blank">
            <button class="border-2 border-[#758292] rounded-lg p-2 mb-3 w-full bg-zinc-700 hover:bg-zinc-600">
                {url.includes('es') ? 'Descargar CV' : 'Download resume'}
            </button>
        </a>

        <div class="flex flex-col mt-3">
            <div>
                <i class="fa-solid fa-globe" ></i>
                <span>Buenos Aires, Argentina</span>
            </div>

            <Social platform="email" username="elias@evelazquez.dev" text="elias@evelazquez.dev" iconClasses="fa-regular fa-envelope me-2 text-lg"/>

            <Social platform="github" username="eliasvelazquezdev" text="eliasvelazquezdev" iconClasses="fa-brands fa-github me-2 text-lg"/>

            <Social platform="linkedin" username="eliassvelazquez"  text="in/eliassvelazquez" iconClasses="fa-brands fa-linkedin me-2 text-lg"/>

            <Social platform="x" username="esvdev" text="@esvdev" iconClasses="fa-brands fa-square-x-twitter me-2 text-lg"/>
            
            <Social platform="blog" username="https://www.esvdev.me" text="esvdev.me" iconClasses="fa-solid fa-book-open-reader me-2 text-lg"/>
        </div>
    </div>
    
    <hr>
    
</aside>