---
import Social from '../components/Social.astro';
---
<hr class="mt-8 mb-3">

<footer class="text-center flex flex-col lg:flex-row justify-between items-center">

    <div class="flex mt-2 mb-5 md:mb-0">
        <img class="img-fluid me-2" src="https://res.cloudinary.com/dwczjy8e4/image/upload/v1695075410/portfolio/esvdev_qrjsxn.ico?v=2" style="max-width: 20px;" alt="">
        <span>Elias Velazquez - {new Date().getFullYear()}</span>
    </div>

    <img class="mb-5 md:mb-0" src="https://astro.badg.es/v2/built-with-astro/tiny.svg" alt="">

    <div class="mb-5 md:mb-0 flex flex-row">
        <Social platform="linkedin" username="eliassvelazquez" iconClasses="fa-brands fa-linkedin me-2 mb-2 text-xl" />
        <Social platform="github" username="eliasvelazquezdev" iconClasses="fa-brands fa-github me-2 mb-2 text-xl" />
        <Social platform="x" username="esvdev" iconClasses="fa-brands fa-x-twitter me-2 mb-2 text-xl" />
    </div>
</footer>