---
---
<nav class="nav-links">
  <ul class="nav-tabs flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
    <li class="me-2 nav-item">
        <a  href="" 
            aria-current="page" 
            class="inline-block p-4 rounded-t-lg active text-blue-600 bg-gray-100 hover:text-gray-600 hover:bg-gray-50"
            hx-post="/partials/welcome/"
                  hx-trigger="click"
                  hx-target="#parent-div"
                  hx-swap="innerHTML transition:true"
        >
          Inicio
        </a>
    </li>

    <li class="me-2 nav-item">
        <a  href="" 
            aria-current="page" 
            class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50"
            hx-post="/partials/projects/"
                  hx-trigger="click"
                  hx-target="#parent-div"
                  hx-swap="innerHTML transition:true"
        >
          Proyectos
        </a>
    </li>

    <li class="me-2 nav-item">
        <a  href="" 
            aria-current="page" 
            class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50"
            hx-post="/partials/education/"
                  hx-trigger="click"
                  hx-target="#parent-div"
                  hx-swap="innerHTML transition:true"
        >
          Educacion
        </a>
    </li>

    <li class="me-2 nav-item">
        <a  href="" 
            aria-current="page" 
            class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50"
            hx-post="/partials/about/"
                  hx-trigger="click"
                  hx-target="#parent-div"
                  hx-swap="innerHTML transition:true"
        >
          Sobre mí
        </a>
    </li>

    <li class="me-2 nav-item">
      <a  href="" 
          aria-current="page" 
          class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50"
          hx-post="/partials/contact/"
                hx-trigger="click"
                hx-target="#parent-div"
                hx-swap="innerHTML transition:true"
      >
        Contacto
      </a>
    </li>
  </ul>

</nav>