---
---
<nav class="nav-links">
    <button class="me-3" hx-post="/partials/projects/"
              hx-trigger="click"
              hx-target="#parent-div"
              hx-swap="innerHTML"
            >
                Inicio
    </button>

    <button class="me-3" hx-post="/partials/projects/"
              hx-trigger="click"
              hx-target="#parent-div"
              hx-swap="innerHTML"
            >
                Proyectos
    </button>

    <button class="me-3" hx-post="/partials/projects/"
              hx-trigger="click"
              hx-target="#parent-div"
              hx-swap="innerHTML"
            >
                Educación
    </button>

    <button class="me-3" hx-post="/partials/projects/"
              hx-trigger="click"
              hx-target="#parent-div"
              hx-swap="innerHTML"
            >
                Sobre mí
    </button>

</nav>