---
import Badge from "./Badge.astro";

const {title1, title2, title3, title4} = Astro.props;
---
<div class="mb-3">
    <h4 class="font-bold text-2xl mb-5">{title1}</h4>

    <!-- Python -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Python/python3.svg" alt="Python logo"/>

    <!-- Pandas -->
    <Badge imageURL="https://img.shields.io/badge/pandas-%23150458.svg?style=for-the-badge&logo=pandas&logoColor=white" alt="Pandas logo"/>

    <!-- Django  -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Django/django1.svg" alt="Django framework logo"/>

    <!-- Django REST -->
    <Badge imageURL="https://img.shields.io/badge/DJANGO-REST-ff1709?style=for-the-badge&logo=django&logoColor=white&color=ff1709&labelColor=gray" alt="Django REST framework logo"/>
    
    <!-- PostgreSQL -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/PostgreSQL/postgresql1.svg" alt="PostgreSQL logo"/>

    <!-- SQLite -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/SQLite/sqlite1.svg" alt="SQLite logo"/>

    <!-- Postman -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Postman/postman1.svg" alt="Postman logo"/>

    <!-- Astro -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Astro/astro2.svg" alt="Astro framework logo"/>

    <!-- Tailwind -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/TailwindCSS/tailwindcss1.svg" alt="Tailwind CSS framework logo"/>


    
</div>

<div class="mb-6">
    <h4 class="font-bold text-2xl mb-5">{title2}</h4>

    <!-- AWS -->
    <Badge imageURL="https://img.shields.io/badge/AWS-%23FF9900.svg?style=for-the-badge&logo=amazon-aws&logoColor=white" alt="Amazon Web Services logo" />

    <!-- FastAPI -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/FastAPI/fastapi1.svg" alt="FastAPI logo" />


</div>

<div class="mb-6">
    <h4 class="font-bold text-2xl mb-5">{title3}</h4>

    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Docker/docker1.svg" alt="Docker logo"/>
    
</div>

<div class="mb-6">
    <h4 class="font-bold text-2xl mb-5">{title4}</h4>

    <!-- GIT -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Git/git1.svg" alt="GIT logo"/>
    
    <!-- Linux  -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Linux/linux2.svg" alt="Linux logo"/>
    
    <!-- Shell  -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Shell/shell1.svg" alt="Shell logo"/>
    
    <!-- Visual Studio Code -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/VisualStudioCode/visualstudiocode1.svg" alt="Visual Studio Code logo"/>

    <!-- Slack -->
    <Badge imageURL="https://img.shields.io/badge/Slack-4A154B?style=for-the-badge&logo=slack&logoColor=white" alt="Slack logo"/>

    <!-- Trello -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Trello/trello1.svg" alt="Trello logo"/>

    <!-- Notion -->
    <Badge imageURL="https://ziadoua.github.io/m3-Markdown-Badges/badges/Notion/notion2.svg" alt="Notion logo"/>
</div>