---
import Footer from "../components/Footer.astro";
import { ViewTransitions } from 'astro:transitions';
const {pageTitle} = Astro.props;
---

<html >
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Favicon -->
		<link rel="shortcut icon" href="https://res.cloudinary.com/dwczjy8e4/image/upload/v1695075410/portfolio/esvdev_qrjsxn.ico?v=2" >
        <!-- Font Awesome -->
		<script src="https://kit.fontawesome.com/8ddddc79a5.js" crossorigin="anonymous"></script>
		<!-- Thumbnail -->
		<meta property='og:title' content='Elias Velazquez Portfolio'/>
		<meta property='og:image' content='https://res.cloudinary.com/dwczjy8e4/image/upload/v1695238145/Thumbnail_Website_nxbaov.jpg'/>
		<meta property='og:description' content="I'm Elias! A Backend Web Developer passionate for Python and music made with synths."/>
		<meta property='og:url' content='https://www.evelazquez.dev/'/>
		<meta property='og:image:width' content='1200' />
		<meta property='og:image:height' content='627' />
		<!-- Google Font -->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,800;1,300;1,400;1,500&display=swap');
            font-family: 'Open Sans', sans-serif;
        </style>
		<title>esvdev - {pageTitle}</title>
		<ViewTransitions />
	</head>
	<body class="bg-[#22272e] text-slate-200 lg:w-4/5 mx-auto p-4 min-h-screen">
		

        <slot />

        <Footer />
		
		<!-- HTMX -->
		<script src="../htmx/htmx.min.js"></script>
		<!-- Flowbite -->
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
		<!-- JQuery -->
		<script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
		<script>
			jQuery('.nav-item').on('click',function(){
  				jQuery(this).children().addClass('text-blue-600 bg-gray-100');
  				jQuery(this).siblings().children().removeClass('text-blue-600 bg-gray-100');
			})	
		</script>
	</body>
</html>